<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: headerFragment">
<title id="pageTitle">Save book data</title>
</head>
<body>
<div th:replace="header :: header"></div>
<main>
<h1>Save book data</h1>
<form action="#" th:action="@{/books/addBook}" th:object="${book}" method="post">
<p><label>Titel:</label><input type="text" th:field="*{title}" /></p>
<p><label>ISBN:</label><input type="text" th:field="*{isbn}" /></p>
<p><label></label><input type="submit" value="Add" /> </p>
</form>
<br/>
<span th:text="${message}">Message</span>
</main>
</body>
</html>