<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: headerFragment">
<title id="pageTitle">Save loan data</title>
</head>
<body>
<div th:replace="header :: header"></div>
<main>
<h1>Save loan</h1>
<form action="#" th:action="@{/loans/addLoan}" th:object="${loan}" method="post">
<p><label for="">User:</label><select th:field="*{reader.id}">
<option th:each="reader : ${users}" th:value="${reader.id}" th:text="${reader.name}"></option>
</select></p>
<p><label for="">Book:</label><select name="book" id="book" th:field="*{book.id}">
<option th:each="book : ${books}" th:value="${book.id}" th:text="${book.title}"></option>
</select></p>
<p><label></label><input type="submit" value="Add" /> </p>
</form>
<br/>
<span th:text="${message}" id="message">Message</span>
</main>
</body>
</html>