<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: headerFragment">
<title id="pageTitle">All locations</title>
</head>
<body>
<div th:replace="header :: header"></div>
<main>
<h1>All locations in library</h1>
<ul th:each="location : ${locations}" class="locationList">
<li><span th:text="${location.name}"></span>&nbsp;<span th:text="${location.description}"></span></li>
</ul>
<br/>
<!-- <span th:text="${message}" id="message">Message</span> -->
</main>
</body>
</html>